
  <nav class="nav">
    <ul>
      <li routerLinkActive="active"><a  routerLink="/app/best">{{ 'menu.best' | translate}}</a></li>
      <li routerLinkActive="active"><a  routerLink="/app/search">{{ 'menu.search' | translate}}</a></li>
      <li routerLinkActive="active"><a  routerLink="/app/profile">{{ 'menu.profile' | translate}}</a></li>
      <li routerLinkActive="active"><a  routerLink="/app/account">{{ 'menu.my_account' | translate}}</a></li>
    </ul>
  </nav>

