
:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}




.mat-drawer-container {
  height: 100%;
  width: 100%;
}

.menu-icon {
  margin-right: 10px;
}

.menu-button{
  width: 60px!important;
  min-width: unset!important;
  margin: 0 10px;
}

.nav {
  width: 25%;
  background: #312450;
}

.content {
  display: flex;
  height: 93%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  height: 7%;
}

.mat-toolbar-custom {
  height: 100%;
}

.sidenav-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.chef {
  height: auto;
  width: 40px;
  margin-right: 10px;
}


@media only screen and (max-width: 769px) {
 .nav {
   width: 100%;
 }
}
