<div class="page-container">
  <app-loader *ngIf="loading"></app-loader>
  <ng-container *ngIf="!loading">
  <mat-card *ngFor="let recipe of recipesOfTheWeek" class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{recipe.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="getFile(recipe.images)" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{recipe.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE ({{recipe.likes}})</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </ng-container>
</div>
