:host {
  display: flex;
  max-width: 100%;
}

.page-container {
  min-height: 100%;
  display: flex;
  max-width: 100%;
}

.button {
  color: white;
  background-color: blue;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}

ul.links {
  padding-bottom: 10px;
}
