<div class="page-container">
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
      <button class="add" mat-raised-button color="primary">
          <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
          <span>Ajouter une recette</span>
      </button>

      <app-camera (getPicture)="handleImage($event)"></app-camera>

      <div class="webcam-image" *ngIf="webcamImage">
        <img class="img" [src]="webcamImage.imageAsDataUrl" />
      </div>
    </ng-container>
</div>
